
@{
    ViewBag.Title = "calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>calculator</h2>


@using (Html.BeginForm("calculator", "Test"))
{
    <input type="text" name="a" value="" />
    <input type="button" value="submit" />
}