
@{
    ViewBag.Title = "postingdata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>postingdata</h2>


@using (Html.BeginForm("postingdata", "Test"))
{
    <input type="text" name="a" value="" />
}

